/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: skyblue;
}

.top-header h1 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 10px;
}

.top-header div {
    background-color: navy;
}

/* start button styling */
.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: skyblue;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: navy;
    cursor: pointer;
} 

/* container styling */
.container {
    width: 800px;
    height: 400px;
    max-width: 80%;                                         
    background-color: navy;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    position: relative;
    margin: 60px auto;
    font-size: 1.5rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: white;
    border: 1px solid #0066ff;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    color: navy;
    font-size: 1.5rem;
}

.btn:hover {
    border-color: black;
    box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.6);
    cursor: pointer;
}

.btn.correct {

}

.btn.wrong {

}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.next-btn {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* footer h2 {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 10px;
}

footer div {
    background-color: navy;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
*/